body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
}

.navbar-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    /* Dark 02 */

    color: #4A4A4A;
}

.main-margin {
    margin-top: 130px;
}

.courses-grid {
    columns: 2;
}

.register-section-margin {
    margin-top: 100px;
}

.register-now {
    height: 230px;
    background: #289BDE;
    border-radius: 5px;
}

.modal-button-text-color {
    font-weight: 600;
    font-size: 18px;
    color: #289BDE;
    border: none;
}

.questions-margin {
    margin-top: 100px;
}

.accordion-margin {
    margin-top: 50px;
}

.company-margin {
    margin-top: 100px;
}

footer {
    height: 472px;
}

footer p {
    color: #E8E8E8;

}